<div id="dropin-wrapper">
  <div id="checkout-message"></div>
  <div id="dropin-container"></div>
  <button id="submit-button">Submit payment</button>
  <div id="paypal-button"></div>
</div>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const amount = urlParams.get('amount');
  const paymentId = urlParams.get("paymentId"); // New parameter for backend Payment record

  document.getElementById('checkout-message').innerHTML =
    `<p>You are paying a total of €${amount}</p>`;

  var threeDSecureParameters = {
    amount: amount,
    email: 'test@example.com',
    billingAddress: {
      givenName: 'Jill', // ASCII-printable characters required, else will throw a validation error
      surname: 'Doe', // ASCII-printable characters required, else will throw a validation error
      phoneNumber: '8101234567',
      streetAddress: '555 Smith St.',
      extendedAddress: '#5',
      locality: 'Oakland',
      region: 'CA', // ISO-3166-2 code
      postalCode: '12345',
      countryCodeAlpha2: 'US'
    },
    collectDeviceData: true,
    additionalInformation: {
      workPhoneNumber: '8101234567',
      shippingGivenName: 'Jill',
      shippingSurname: 'Doe',
      shippingPhone: '8101234567',
      shippingAddress: {
        streetAddress: '555 Smith St.',
        extendedAddress: '#5',
        locality: 'Oakland',
        region: 'CA', // ISO-3166-2 code
        postalCode: '12345',
        countryCodeAlpha2: 'US'
      }
    },
  };
 
  var button = document.querySelector('#submit-button');
  $.ajax({
          type: "GET",
          url: "checkout",
        }).done(function(data) {
          console.log(data)
          var clientToken = data;
    braintree.dropin.create({
    // Insert your tokenization key here
    authorization: clientToken,
    container: '#dropin-container',
    threeDSecure: true, // add 3DS
    vaultManager: true,
    paypal: {
    flow: 'checkout',
    amount: '10.00',
    currency: 'USD',
    buttonStyle: {
      color: 'blue',
      shape: 'rect',
      size: 'medium'
      } 
    },
    card: {
    cardholderName: {
      required: false
      // to make cardholder name required
      // required: true
    }
    }
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod({
          threeDSecure: threeDSecureParameters
          },function (requestPaymentMethodErr, payload) {
        // When the user clicks on the 'Submit payment' button this code will send the
        // encrypted payment information in a variable called a payment method nonce
        $.ajax({
          type: 'POST',
          url: 'checkout',
          data: {'paymentMethodNonce': payload.nonce, amount: amount, paymentId: paymentId},
        }).done(function(result) {
          // Tear down the Drop-in UI
          instance.teardown(function (teardownErr) {
            if (teardownErr) {
              console.error('Could not tear down Drop-in UI!');
            } else {
              console.info('Drop-in UI has been torn down!');
              // Remove the 'Submit payment' button
              $('#submit-button').remove();
            }
          });
 
          if (result.success) {
            $('#checkout-message').html('<h1>Success</h1><p>Your Drop-in UI is working! Check your <a href="https://sandbox.braintreegateway.com/login">sandbox Control Panel</a> for your test transactions.</p><p>Redirecting back to the website...</p>');
              // Notify the parent window of success (optional)
              if (window.opener) {
                window.opener.postMessage({ payment: 'success' }, '*');
                console.log("postMessage 'payment_success' sent.");
              }
              
              // Close the popup after a short delay
              setTimeout(function(){
                window.close();
              }, 2000);
          } else {
            console.log(result);
            $('#checkout-message').html('<h1>Error</h1><p>Check your console.</p>');
          }
        });
      })
      });
    });
  });
</script>